
.btn {
    display: inline-block;
    line-height: 1;
    padding: 0.5rem .8rem;
    border-radius: 6px;
    text-align: center;
    font-size: 0.8rem;
  
    @mixin smallScreen {
      font-size: 0.915rem;
    }
  
    @mixin mediumScreen {
      padding: 0.75rem 1.5rem;
    }
  
    &-blue {
      color: #fff;
      background-color: $mainBlue;
    }
    &-white {
      color: $mainBlue;
      background-color: $white;
    }
  
    &:hover{
      background-color: $btnHoverBlue;
    }
  }
  
  a {
    text-decoration: none;
  }